{% extends "admin/change_list.html" %}
{% load static %}
<style>
    ul > li {
    list-style-type: none;
    padding: 1px 0;
}

</style>
{% block content %}

    <ul class="object-tools1">
      <li>
        <a href="upload-csv/">Upload Product</a>
      </li>
      <li>
        <!-- <a href="download-sample-xls/">Download sample xls</a> -->
        <a href="#">Download sample</a>
      </li>
      <li>
        <!-- <a href="export-xls/">Export Product</a> -->
        <a href="#">Export Product</a>
      </li>
    </ul>


{{ block.super }}

{% endblock %}
