{% extends 'base/base.html' %} {% load static %}{% block title %}my webpage{% endblock %} {% block body %} {% load static %}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="bg-white p-4">

          <ul class="nav nav-tabs change-nav-tabs" id="myTab" role="tablist">
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link  w-100 p-2 log-sign-header" id="login-tab" data-bs-toggle="tab" data-bs-target="#login"
                type="button" role="tab" aria-controls="login" aria-selected="true">Login</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link w-100 p-2 log-sign-header" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signup"
                type="button" role="tab" aria-controls="signup" aria-selected="false">Signup</button>
            </li>
          </ul>
          <div id="resetPasswordFields ">
            <p class="pt-4 pb-2 text-center">please enter a new password.</p>
            <form action="" method="post">
              {% csrf_token %}
            <div class="mb-4 mt-4 ">
              <div class="input-group mb-4">
                <span class="input-group-text login-profile-icon" id="basic-addon1"><i class="fa-solid fa-key"></i></span>
                <input type="password" id="password" name="password" class="form-control p-2 log-sign-input " placeholder="New Password" aria-label="New Password"
                  aria-describedby="basic-addon1" required>
              </div>
            </div>
            <div class="mb-4">
              <div class="input-group mb-4">
                <span class="input-group-text login-profile-icon" id="basic-addon1"><i class="fa-solid fa-key"></i></span>
                <input type="password" id="confirmPassword" name="confirm_password" class="form-control p-2 log-sign-input  " placeholder="Confirm New Password"
                  aria-label="Confirm New Password" aria-describedby="basic-addon1" required>
              </div>
            </div>
            <div class="d-grid mt-3">
              <button type="submit" class="btn btn-dark p-2">Change Password</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}