{% extends 'base/base.html' %} {% load static %}{% block title %}my webpage{% endblock %} {% block body %} {% load static %}

<div class="container pb-4">
    <div class="row  privacy-policy_row">
        <h1 class="privacy_policy-head text-center py-4">Disclaimer</h1>
        <div class="privacy_sub_main  p-4 mb-4">
            <div class="privacy_sub_head pb-3"></div>
            <p class="privacy_sub_text ">
                This disclaimer (“Disclaimer”) sets forth the general guidelines, disclosures, and terms of your use
                of the okkabeauty.com website (“Website” or “Service”) and any of its related products and services
                (collectively, “Services”). This Disclaimer is a legally binding agreement between you (“User”,
                “you” or “your”) and Okka Beauty LLC (“Okka Beauty LLC”, “we”, “us” or “our”). By accessing and
                using the Website and Services, you acknowledge that you have read, understood, and agree to be
                bound by the terms of this Disclaimer. If you are entering into this Disclaimer on behalf of a
                business or other legal entity, you represent that you have the authority to bind such entity to
                this Disclaimer, in which case the terms “User”, “you” or “your” shall refer to such entity. If you
                do not have such authority, or if you do not agree with the terms of this Disclaimer, you must not
                accept this Disclaimer and may not access and use the Website and Services. You acknowledge that
                this Disclaimer is a contract between you and Okka Beauty LLC, even though it is electronic and is
                not physically signed by you, and it governs your use of the Website and Services.
            </p>

        </div>
        <div class="privacy_sub_main  p-4 mb-4">
            <div class="privacy_sub_head pb-3">Representation</div>
            <p class="privacy_sub_text ">
                Any views or opinions represented on the Website are personal and belong solely to Okka Beauty LLC
                and do not represent those of people, institutions or organizations that the owner may or may not be
                associated with in professional or personal capacity unless explicitly stated. Any views or opinions
                are not intended to malign any religion, ethnic group, club, organization, company, or individual.
            </p>

        </div>
        <div class="privacy_sub_main  p-4 mb-4">
            <div class="privacy_sub_head pb-3">Content and postings</div>
            <p class="privacy_sub_text ">
                You may not modify, print or copy any part of the Website and Services. Inclusion of any part of the
                Website and Services in another work, whether in printed or electronic or another form or inclusion
                of any part of the Website and Services on another resource by embedding, framing or otherwise
                without the express permission of Okka Beauty LLC is prohibited.
            </p>
            <p class="privacy_sub_text pt-5">
                You may submit new content and comment on the existing content on the Website. By uploading or
                otherwise making available any information to Okka Beauty LLC, you grant Okka Beauty LLC the
                unlimited, perpetual right to distribute, display, publish, reproduce, reuse and copy the
                information contained therein. You may not impersonate any other person through the Website and
                Services. You may not post content that is defamatory, fraudulent, obscene, threatening, invasive of
                another person’s privacy rights or that is otherwise unlawful. You may not post content that
                infringes on the intellectual property rights of any other person or entity. You may not post any
                content that includes any computer virus or other code designed to disrupt, damage, or limit the
                functioning of any computer software or hardware. By submitting or posting content on the Website,
                you grant Okka Beauty LLC the right to edit and, if necessary, remove any content at any time and
                for any reason.Reviews and testimonials
            </p>
            <p class="privacy_sub_text pt-5">
                Testimonials are received in various forms through a variety of submission methods. The testimonials
                are not necessarily representative of all of those who will use the Services, and Okka Beauty LLC is
                not responsible for the opinions or comments posted on the Website, and does not necessarily share
                them. All opinions expressed are strictly the views of the poster or reviewer.
            </p>
            <p class="privacy_sub_text pt-5 ">
                The testimonials displayed are given verbatim except for grammatical or typing error corrections.
                Some testimonials may have been edited for clarity, or shortened in cases where the original
                testimonial included extraneous information of no relevance to the general public. Testimonials may
                be reviewed for authenticity before they are posted for public viewing.Indemnification and
                warranties
            </p>
            <p class="privacy_sub_text pt-5">
                While we have made every attempt to ensure that the information contained on the Website is correct,
                Okka Beauty LLC is not responsible for any errors or omissions, or for the results obtained from the
                use of this information. All information on the Website is provided “as is”, with no guarantee of
                completeness, accuracy, timeliness or of the results obtained from the use of this information, and
                without warranty of any kind, express or implied. In no event will Okka Beauty LLC be liable to you
                or anyone else for any decision made or action taken in reliance on the information on the Website,
                or for any consequential, special or similar damages, even if advised of the possibility of such
                damages. Information on the Website is for general information purposes only and is not intended to
                provide any type of professional advice. Please seek professional assistance should you require it.
                Furthermore, information contained on the Website and any pages linked to and from it are subject to
                change at any time and without warning.
            </p>
        </div>
        <div class="privacy_sub_main  p-4 mb-4">
            <div class="privacy_sub_head pb-3">Changes and amendments</div>
            <p class="privacy_sub_text ">
                We reserve the right to modify this Disclaimer or its terms relating to the Website and Services at
                any time, effective upon posting of an updated version of this Disclaimer on the Website. When we
                do, we will revise the updated date at the bottom of this page. Continued use of the Website and
                Services after any such changes shall constitute your consent to such changes.
            </p>

        </div>
        <div class="privacy_sub_main  p-4 mb-4">
            <div class="privacy_sub_head pb-3">Acceptance of this disclaimer</div>
            <p class="privacy_sub_text ">
                You acknowledge that you have read this Disclaimer and agree to all its terms and conditions. By
                accessing and using the Website and Services you agree to be bound by this Disclaimer. If you do not
                agree to abide by the terms of this Disclaimer, you are not authorized to access or use the Website
                and Services.
            </p>

        </div>

        <div class="privacy_sub_main  p-4 mb-4">
            <div class="privacy_sub_head pb-3">Contacting us</div>
            <p class="privacy_sub_text ">
                If you would like to contact us to understand more about this Disclaimer or wish to contact us concerning any matter relating to it, you may send an email to cs@okkabeauty.com
            </p>
            <p class="privacy_sub_text pt-2">
            <strong>    This document was last updated on October 3, 2020</strong>
            </p>

        </div>


    </div>
</div>

{% endblock %}