{% extends 'base/base.html' %} {% load static %}{% block title %}my webpage{% endblock %} {% block body %} {% load static %}

<div class="container ">
    <div class="row  privacy-policy_row">
        <h1 class="privacy_policy-head text-center py-4">Returns & Refund Policy</h1>
        
        
        <div class="privacy_sub_main  p-4 mb-4">
            <p class="privacy_sub_text py-2">
                1. Returns and Exchanges:
            </p>
            <p class="privacy_sub_text ">
                We want you to be completely satisfied with your purchase. If you are not happy with your order, we
                gladly accept returns and exchanges within 48 hours upon receiving the order. To be eligible for a
                return or exchange, the item must be in its original condition, unused, and in its original
                packaging.
            </p>
            <p class="privacy_sub_text ">
                Eligible Items for Return:
            <ul>
                <li class="privacy_sub_text ms-3 py-2" style="list-style-type: disc;">
                    Beauty Products (Unopened, Unused, and in their original packaging)
                </li>
                <li class="privacy_sub_text ms-3 py-2" style="list-style-type: disc;">
                    Clothing (Unworn, Unwashed, in its original condition, and with all the tags & labels attached)
                </li>
            </ul>
            </p>
            <p class="privacy_sub_text ">
                *Accessories are NOT ELIGIBLE FOR RETURN OR EXCHANGE.
            </p>
            <p class="privacy_sub_text py-2">
                2. Return Process:
            </p>
            <p class="privacy_sub_text ">
                To initiate a return or exchange, please contact our customer support team at returns@okkabeauty.com
                or +971 4328 2338. Please mention your order number and specify which product you wish to return or
                exchange. We will guide you through all the process.
            </p>
            <p class="privacy_sub_text py-2">
                3. Return Shipping Cost
            </p>
            <p class="privacy_sub_text "> The customer is responsible for the shipping cost.
            <ul>
                <li class="privacy_sub_text ms-3 py-2" style="list-style-type: disc;">
                    30 AED for Local (Within UAE)
                </li>
                <li class="privacy_sub_text ms-3 py-2" style="list-style-type: disc;">
                    For International, please contact our customer support.
                </li>
                <li class="privacy_sub_text ms-3 py-2" style="list-style-type: disc;">
                    For International Shipping, cost will be calculated according to your location. Our Team will
                    contact you.
                </li>
            </ul>
            </p>
            <p class="privacy_sub_text py-2"> 4.Refunds and Processing:
            <ul>
                <li class="privacy_sub_text ms-3 py-2" style="list-style-type: disc;">
                    Once we receive the returned item and verify its condition, we will process your refund or
                    exchange within 5 business days. Refunds will be issued to the original payment method used for
                    the purchase. Please note that it may take additional time for the refund to reflect in your
                    account, depending on your payment method.

                </li>
            </ul>
            </p>
            <p class="privacy_sub_text ">4. Refunds and Processing:
            <ul>
                <li class="privacy_sub_text ms-3 py-2" style="list-style-type: disc;">
                    Once we receive the returned item and verify its condition, we will process your refund or
                    exchange within 5 business days. Refunds will be issued to the original payment method used for
                    the purchase. Please note that it may take additional time for the refund to reflect in your
                    account, depending on your payment method.

                </li>
            </ul>
            </p>
            <p class="privacy_sub_text py-2">
                5. Exchanges
            <ul>
                <li class="privacy_sub_text ms-3 py-2" style="list-style-type: disc;">

                    If you wish to exchange an item for a different size, color, or product please follow the return
                    process and specify the desired item in your communication with our customer support team.
                    Exchanges are subject to availability and charges may apply.
                </li>
            </ul>
            </p>
            <p class="privacy_sub_text py-2">
                6. Damaged, Defective, or Incorrect Items
            <ul>
                <li class="privacy_sub_text ms-3 py-2" style="list-style-type: disc;">
                    If you receive a damaged, defective, or incorrect item, please contact our customer support team
                    within 24 hours of receiving the order. We will arrange for a replacement or refund, including
                    return shipping costs.
                </li>
            </ul>
            </p>
            <p class="privacy_sub_text py-2">
                7. Cancellation Policy
            <ul>
                <li class="privacy_sub_text ms-3 py-2" style="list-style-type: disc;">
                    If you need to cancel an order before it has been shipped, please contact our customer support
                    team as soon as possible. Once the order is shipped, the standard return policy will apply.
                </li>
                <li class="privacy_sub_text ms-3 pt-2" style="list-style-type: disc;">
                    A cancellation fee of 15aed will be charged on top of the shipping cost. This applies for local
                    and international transactions.
                </li>
            </ul>
            </p>
        </div>




        <div class="privacy_sub_main  p-4 mb-4">
            <div class="privacy_sub_head pb-3">Proof of purchase</div>
            <p class="privacy_sub_text ">
                To complete your refund, we require a receipt, purchase order or other proof of purchase. Please note that without the aforementioned proof of purchase, we will not issue a refund.
            </p>
        </div>
        
        <div class="privacy_sub_main  p-4 mb-4">
            <div class="privacy_sub_head pb-3">Shipping items</div>
            <p class="privacy_sub_text py-2">
                In order to return an order, you must contact us first.
            </p>
            <p class="privacy_sub_text py-2">
                Returns can be mailed to: OKKA BEAUTY TRADING Co.LLC . You will be responsible for paying for the shipping costs with regard to the items that you wish to return. We will not refund the shipping costs.
            </p>
            <p class="privacy_sub_text py-2">
                You must take care to ensure that the goods are properly packaged so that they will not be damaged while in transit. If the product is found damaged or used beyond what it takes for us to reasonably inspect it, then we may reject a refund.
            </p>
        </div>




        <div class="privacy_sub_main  p-4 mb-4">
            <div class="privacy_sub_head pb-3">Contacting us</div>
            <p class="privacy_sub_text ">
                If you would like to contact us concerning any matter relating to this Refund Policy, you may send an email to returns@okkabeauty.com
            </p>
            <p class="privacy_sub_text pt-4">
                <strong>This document was last updated on August 9, 2021</strong>
            </p>
        </div>

    </div>
</div>

{% endblock %}