{% extends 'base/base.html' %} {% load static %}{% block title %}my webpage{% endblock %} {% block body %} {% load static %}

<div class="container pt-5 ">
    <div class="row  privacy-policy_row">
        <p class="privacy_sub_text-1 py-2">Domestic Shipping Policy </p>
        <p class="privacy_sub_text-1 py-2">Shipping processing time, all rates mentioned are in AED.</p>

            <table class="cms_shipping_table mt-3">
                <tr>
                    <th>Order</th>
                    <th>Shipment Method</th>
                    <th>Cost</th>
                    <th>Estimated Delivery time</th>
                    <th>Estimated Delivery in Remote Areas</th>
                </tr>
                <tr>
                    <td>200aed and above</td>
                    <td>Professional Courier</td>
                    <td>FREE</td>
                    <td>2-3 Business days</td>
                    <td>3-5 Business days</td>

                </tr>
                <tr>
                    <td>199aed and below</td>
                    <td>Professional Courier</td>
                    <td>20aed</td>
                    <td>2-3 Business days</td>
                    <td>3-5 Business days</td>
                </tr>
            </table>

            <p class="privacy_sub_text-1 py-1 pt-5 "> <strong>UAE Only</strong> </p>
            <p class="privacy_sub_text-1 py-2">International Shipping Policy</p>
            <p class="privacy_sub_text-1 py-2">Shipping rates and delivery estimates, all rates are mentioned in AED.
            </p>
            <p class="privacy_sub_text-1 pt-2 pb-1"> <strong>MENA Countries</strong>  </p>



            <table class="cms_shipping_table">
                <tr>
                    <th>Weight (kg)</th>
                    <th>Estimated Cost</th>
                    <th>Shipment Method</th>
                    <th>Estimated Delivery Time</th>

                </tr>
                <tr>
                    <td>0.5</td>
                    <td>51.33</td>
                    <td>DHL</td>
                    <td>5-7 Working Days</td>


                </tr>
                <tr>
                    <td>1.0 to 2.0</td>
                    <td>61.10</td>
                </tr>
                <tr>
                    <td>2.5</td>
                    <td>62.31</td>
                </tr>
                <tr>
                    <td>3.0</td>
                    <td>70.87</td>
                </tr>
            </table>

            <p class="privacy_sub_text-1 pt-5 pb-4"><strong> EU/US</strong> </p>



            <table class="cms_shipping_table">
                <tr>
                    <th>Weight (kg)</th>
                    <th>Estimated Cost</th>
                    <th>Shipment Method</th>
                    <th>Estimated Delivery Time</th>

                </tr>
                <tr>
                    <td>0.5</td>
                    <td>51.33</td>
                    <td>DHL</td>
                    <td>5-7 Working Days</td>


                </tr>
                <tr>
                    <td>1.0 to 2.0</td>
                    <td>61.10</td>
                </tr>
                <tr>
                    <td>2.5</td>
                    <td>62.31</td>
                </tr>
                <tr>
                    <td>3.0</td>
                    <td>70.87</td>
                </tr>
            </table>



            <p class="privacy_sub_text-1  pt-5 pb-4"><strong>ASIA PACIFIC  </strong>   </p>

            <table class="cms_shipping_table">
                <tr>
                    <th>Weight (kg)</th>
                    <th>Estimated Cost</th>
                    <th>Shipment Method</th>
                    <th>Estimated Delivery Time</th>

                </tr>
                <tr>
                    <td>0.5</td>
                    <td>51.33</td>
                    <td>DHL</td>
                    <td>5-7 Working Days</td>


                </tr>
                <tr>
                    <td>1.0 to 2.0</td>
                    <td>61.10</td>
                </tr>
                <tr>
                    <td>2.5</td>
                    <td>62.31</td>
                </tr>
                <tr>
                    <td>3.0</td>
                    <td>70.87</td>
                </tr>
            </table>
            <p class="privacy_sub_text-1  pt-5 pb-4"><strong>Other Destinations </strong></p>
       
            <table class="cms_shipping_table table table-responsive">
                <tr>
                    <th>Weight (kg)</th>
                    <th>Estimated Cost</th>
                    <th>Shipment Method</th>
                    <th>Estimated Delivery Time</th>

                </tr>
                <tr>
                    <td>0.5</td>
                    <td>51.33</td>
                    <td>DHL</td>
                    <td>5-7 Working Days</td>


                </tr>
                <tr>
                    <td>1.0 to 2.0</td>
                    <td>61.10</td>
                </tr>
                <tr>
                    <td>2.5</td>
                    <td>62.31</td>
                </tr>
                <tr>
                    <td>3.0</td>
                    <td>70.87</td>
                </tr>
            </table>

            <p class="privacy_sub_text-1 py-2 pt-5">Shipping Policy: 100%of orders are shipped within 3-5 business day. Orders placed over the weekend are dispatched on Sundays. Orders placed on holidays are handled on the first working day after.</p>

            <p class="privacy_sub_text-1 py-2">Shipment confirmation & Order tracking: You will receive a Shipment Confirmation email once your order has shipped containing your tracking number(s). The tracking number will be active within 24 hours.</p>

            <p class="privacy_sub_text-1 py-2">Customs Clearance: Please be aware that delays may be imposed by your country’s customs clearance. Okka Beauty is not responsible for paying any fees or rates charged by your customs. These charges are the responsibility of the customer.</p>

            <p class="privacy_sub_text-1 py-2">Delayed or Lost Orders:  We cannot take responsibility for delays caused by the courier. Although orders normally take much less than that we are unable to dispatch a replacement until this period of time has elapsed. If we are experiencing a high volume of orders, shipments may be delayed by a few days. Please allow additional days in transit for delivery. If there will be a significant delay in shipment of your order, we will contact you via email or telephone.</p>

            <p class="privacy_sub_text-1 py-2">Wrong or Incomplete Address: If your package is returned to us due to an incorrect or incomplete address, you must pay all delivery cost to re-deliver your order to a corrected address. We are not responsible for the loss of your order if the address provided at checkout is incomplete or incorrect.</p>

            <p class="privacy_sub_text-1 py-2">Return: Customers will be responsible for shipping cost coverage for returns.</p>
            <p class="privacy_sub_text-1 pt-2 pb-5">Our Return and Refund and Policy provides detailed information about options and procedures for returning your order.</p>



    </div>
</div>

{% endblock %}