{% extends 'Al-admin/base/base.html' %} {% load static %}{% block title %}my webpage{% endblock %} {% block body %} {% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
<main class="main" id="top">
    
      <div class="container-fluid px-0">
        <nav class="navbar navbar-vertical navbar-expand-lg">
          <script>
            var navbarStyle = window.config.config.phoenixNavbarStyle;
            if (navbarStyle && navbarStyle !== 'transparent') {
              document.querySelector('body').classList.add(`navbar-${navbarStyle}`);
            }
          </script>
          <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
            <!-- scrollbar removed-->
            <div class="navbar-vertical-content">
              <ul class="navbar-nav flex-column" id="navbarVerticalNav">
              
                <li class="nav-item"><a class="nav-link " href="{% url 'Dashboard' %}" data-bs-toggle="" aria-expanded="false">
                  <div class="d-flex align-items-center gap-2"><span data-feather="codesandbox"></span><span class="nav-link-text">Dashboard</span>
                  </div>
                </a>
                <!-- more inner pages-->
              </li>
  
              <li class="nav-item">
              
                <div class="nav-item-wrapper">
                  <a class="nav-link dropdown-indicator label-1" href="#Banner" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="Banner">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><span data-feather="image"></span></span><span class="nav-link-text">Banner Management</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent show" data-bs-parent="#navbarVerticalCollapse" id="Banner">
                      <li class="collapsed-nav-item-title d-none">Banner Management
                      </li>
                      {% if request.user.is_authenticated %} {% if perms.banners.view_mainbanner  %}
                      <li class="nav-item"><a class="nav-link " href="{% url 'Buy-Promo-Banner' %}" data-bs-toggle="" aria-expanded="false">
                        <div class="d-flex align-items-center"><span class="nav-link-text">Main Banner</span>
                        </div>
                      </a>
                      <!-- more inner pages-->
                    </li>  
                    {% else %} {% for group in request.user.groups.all %} {% if perms.group.view_mainbanner  %}
                    <li class="nav-item"><a class="nav-link " href="{% url 'Buy-Promo-Banner' %}" data-bs-toggle="" aria-expanded="false">
                      <div class="d-flex align-items-center"><span class="nav-link-text">Main Banner</span>
                      </div>
                    </a>
                    <!-- more inner pages-->
                  </li>  
                  {% endif %} {% endfor %} {% endif %} {% endif %}
  
                  {% if request.user.is_authenticated %} {% if perms.banners.view_offer_banner %} <li class="nav-item">
                    <a class="nav-link " href="{% url 'pricebanner' %}" data-bs-toggle="" aria-expanded="false">
                      <div class="d-flex align-items-center">
                        <span class="nav-link-text">Price Banner</span>
                      </div>
                    </a>
                    <!-- more inner pages-->
                  </li> {% else %} {% for group in request.user.groups.all %} {% if perms.group.view_offer_banner %} <li class="nav-item">
                    <a class="nav-link " href="{% url 'pricebanner' %}" data-bs-toggle="" aria-expanded="false">
                      <div class="d-flex align-items-center">
                        <span class="nav-link-text">Price Banner</span>
                      </div>
                    </a>
                    <!-- more inner pages-->
                  </li> {% endif %} {% endfor %} {% endif %} {% endif %}
                     
                  {% if request.user.is_authenticated %} {% if perms.banners.view_mainbanner %} <li class="nav-item">
                    <a class="nav-link " href="{% url 'footerbanner' %}" data-bs-toggle="" aria-expanded="false">
                      <div class="d-flex align-items-center">
                        <span class="nav-link-text">Footer Banner</span>
                      </div>
                    </a>
                    <!-- more inner pages-->
                  </li> {% else %} {% for group in request.user.groups.all %} {% if perms.group.view_mainbanner %} <li class="nav-item">
                    <a class="nav-link " href="{% url 'footerbanner' %}" data-bs-toggle="" aria-expanded="false">
                      <div class="d-flex align-items-center">
                        <span class="nav-link-text">Footer Banner</span>
                      </div>
                    </a>
                    <!-- more inner pages-->
                  </li> {% endif %} {% endfor %} {% endif %} {% endif %}      
                    </ul>
                  </div>
                </div>
              </li>
  
              <li class="nav-item">
              
                <div class="nav-item-wrapper">
                  <a class="nav-link dropdown-indicator label-1" href="#customer" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="customer">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><span data-feather="users"></span></span><span class="nav-link-text">Customer Management</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent show" data-bs-parent="#navbarVerticalCollapse" id="customer">
                      <li class="collapsed-nav-item-title d-none">Customer Management
                      </li>
                      {% if request.user.is_authenticated %} {% if perms.user.view_user %} <li class="nav-item">
                        <a class="nav-link " href="{% url 'customer' %}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-text">All Customer</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li> {% else %} {% for group in request.user.groups.all %} {% if perms.group.view_user %} <li class="nav-item">
                        <a class="nav-link " href="{% url 'customer' %}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-text">All Customer</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li> {% endif %} {% endfor %} {% endif %} {% endif %}                  
                    </ul>
                  </div>
                </div>
              </li>
  
              <li class="nav-item">
              
                <div class="nav-item-wrapper">
                  <a class="nav-link dropdown-indicator label-1" href="#Product" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="Product">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><span data-feather="shopping-cart"></span></span><span class="nav-link-text">Product Management</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent show" data-bs-parent="#navbarVerticalCollapse" id="Product">
                      <li class="collapsed-nav-item-title d-none">Product Management
                      </li>
                      {% if request.user.is_authenticated %} {% if perms.products.view_products %} <li class="nav-item">
                        <a class="nav-link " href="{% url 'product-list' %}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-text">All Products</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li> {% else %} {% for group in request.user.groups.all %} {% if perms.group.view_products %} <li class="nav-item">
                        <a class="nav-link " href="{% url 'product-list' %}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-text">All Products</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li> {% endif %} {% endfor %} {% endif %} {% endif %}
                      {% if request.user.is_authenticated %} {% if perms.products.add_products %} <li class="nav-item">
                        <a class="nav-link" href="{% url 'product-adding' %}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-text">Add Product</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li> {% else %} {% for group in request.user.groups.all %} {% if perms.group.add_products %} <li class="nav-item">
                        <a class="nav-link" href="{% url 'product-adding' %}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-text">Add Product</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li> {% endif %} {% endfor %} {% endif %} {% endif %}
                      {% if request.user.is_authenticated %} {% if perms.products.view_category %} <li class="nav-item">
                        <a class="nav-link" href="{% url 'category-admin' %}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-text">Categories</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li> {% else %} {% for group in request.user.groups.all %} {% if perms.group.view_category %} <li class="nav-item">
                        <a class="nav-link" href="{% url 'category-admin' %}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-text">Categories</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li> {% endif %} {% endfor %} {% endif %} {% endif %}
                      {% if request.user.is_authenticated %} {% if perms.products.view_subcategory %} <li class="nav-item">
                        <a class="nav-link" href="{% url 'subcategory-admin' %}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-text">Sub Categories</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li> {% else %} {% for group in request.user.groups.all %} {% if perms.group.view_subcategory %} <li class="nav-item">
                        <a class="nav-link" href="{% url 'subcategory-admin' %}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-text">Sub Categories</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li> {% endif %} {% endfor %} {% endif %} {% endif %}
                      {% if request.user.is_authenticated %} {% if perms.products.view_brand %} <li class="nav-item">
                        <a class="nav-link" href="{% url 'brand-admin' %}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-text">Brand</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li> {% else %} {% for group in request.user.groups.all %} {% if perms.group.view_brand %} <li class="nav-item">
                        <a class="nav-link" href="{% url 'brand-admin' %}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-text">Brand</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li> {% endif %} {% endfor %} {% endif %} {% endif %}




                      
                      {% if request.user.is_authenticated %} {% if perms.products.view_attribute %} <li class="nav-item">
                        <a class="nav-link active" href="{% url 'attribute-admin' %}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-text">Attribute</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li> {% else %} {% for group in request.user.groups.all %} {% if perms.group.view_attribute %} <li class="nav-item">
                        <a class="nav-link active" href="{% url 'attribute-admin' %}" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-text">Attribute</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li> {% endif %} {% endfor %} {% endif %} {% endif %}
                    </ul>
                  </div>
                </div>
              </li>
  
  
                <li class="nav-item">
              
                  <div class="nav-item-wrapper">
                    <a class="nav-link dropdown-indicator label-1" href="#Order" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="Order">
                      <div class="d-flex align-items-center">
                        <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><span data-feather="truck"></span></span><span class="nav-link-text">Order Management</span>
                      </div>
                    </a>
                    <div class="parent-wrapper label-1">
                      <ul class="nav collapse parent show" data-bs-parent="#navbarVerticalCollapse" id="Order">
                        <li class="collapsed-nav-item-title d-none">Order Management
                        </li>
                        {% if request.user.is_authenticated %} {% if perms.checkout.view_user_order %} <li class="nav-item">
                          <a class="nav-link" href="{% url 'admin-order' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">Orders</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li> {% else %} {% for group in request.user.groups.all %} {% if perms.group.view_user_order %} <li class="nav-item">
                          <a class="nav-link" href="{% url 'admin-order' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">Orders</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li> {% endif %} {% endfor %} {% endif %} {% endif %}
                        {% if request.user.is_authenticated %} {% if perms.checkout.view_orderdeliveryperson %} <li class="nav-item">
                          <a class="nav-link" href="{% url 'delivery_person' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">Delivery Person</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li> {% else %} {% for group in request.user.groups.all %} {% if perms.group.view_orderdeliveryperson %} <li class="nav-item">
                          <a class="nav-link" href="{% url 'delivery_person' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">Delivery Person</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li> {% endif %} {% endfor %} {% endif %} {% endif %}
  
                        {% if request.user.is_authenticated %} {% if perms.checkout.view_orderreplacementcomment %} <li class="nav-item">
                          <a class="nav-link" href="{% url 'order-replace-page' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">Replacement Orders</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li> {% else %} {% for group in request.user.groups.all %} {% if perms.group.view_orderreplacementcomment %} <li class="nav-item">
                          <a class="nav-link" href="{% url 'order-replace-page' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">Replacement Orders</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li> {% endif %} {% endfor %} {% endif %} {% endif %}
  
  
                        {% if request.user.is_authenticated %} {% if perms.checkout.view_replacementcollectperson %} <li class="nav-item">
                          <a class="nav-link" href="{% url 'replacement_person' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">Re-Collection Person</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li> {% else %} {% for group in request.user.groups.all %} {% if perms.group.view_replacementcollectperson %} <li class="nav-item">
                          <a class="nav-link" href="{% url 'replacement_person' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">Re-Collection Person</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li> {% endif %} {% endfor %} {% endif %} {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'product-adding' %}" data-bs-toggle="" aria-expanded="false">
                        <div class="d-flex align-items-center"><span class="nav-link-text">Abandoned cart</span>
                        </div>
                      </a>
                      <!-- more inner pages-->
                    </li>
                      </ul>
                    </div>
                  </div>
                </li>
  
  
                <li class="nav-item">
              
                  <div class="nav-item-wrapper">
                    <a class="nav-link dropdown-indicator label-1" href="#Coupon" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="Coupon">
                      <div class="d-flex align-items-center">
                        <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><span data-feather="tag"></span></span><span class="nav-link-text">Coupon</span>
                      </div>
                    </a>
                    <div class="parent-wrapper label-1">
                      <ul class="nav collapse parent show" data-bs-parent="#navbarVerticalCollapse" id="Coupon">
                        <li class="collapsed-nav-item-title d-none">Coupon
                        </li>
                        {% if request.user.is_authenticated %} {% if perms.products.view_coupon %} <li class="nav-item">
                          <a class="nav-link" href="{% url 'coupon' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">All Coupon</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li> {% else %} {% for group in request.user.groups.all %} {% if perms.group.view_coupon %} <li class="nav-item">
                          <a class="nav-link" href="{% url 'coupon' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">All Coupon</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li> {% endif %} {% endfor %} {% endif %} {% endif %}
                        {% if request.user.is_authenticated %} {% if perms.products.view_couponusage %} <li class="nav-item">
                          <a class="nav-link" href="{% url 'couponUseage' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">Coupon Useage</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li> {% else %} {% for group in request.user.groups.all %} {% if perms.group.view_couponusage %} <li class="nav-item">
                          <a class="nav-link" href="{% url 'couponUseage' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">Coupon Useage</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li> {% endif %} {% endfor %} {% endif %} {% endif %}
                      </ul>
                    </div>
                  </div>
                </li>
  
                <li class="nav-item">
              
                  <div class="nav-item-wrapper">
                    <a class="nav-link dropdown-indicator label-1" href="#CSV" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="CSV">
                      <div class="d-flex align-items-center">
                        <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><span data-feather="file-text"></span></span><span class="nav-link-text">CSV Management</span>
                      </div>
                    </a>
                    <div class="parent-wrapper label-1">
                      <ul class="nav collapse parent show" data-bs-parent="#navbarVerticalCollapse" id="CSV">
                        <li class="collapsed-nav-item-title d-none">CSV Management
                        </li>
                        {% if request.user.is_authenticated %} {% if perms.csvdata.view_csv_creation %} <li class="nav-item">
                          <a class="nav-link" href="3" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">Csv Data</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li> {% else %} {% for group in request.user.groups.all %} {% if perms.group.view_csv_creation %} <li class="nav-item">
                          <a class="nav-link" href="3" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">Csv Data</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li> {% endif %} {% endfor %} {% endif %} {% endif %}
                      </ul>
                    </div>
                  </div>
                </li>
  
                <li class="nav-item">
              
                  <div class="nav-item-wrapper">
                    <a class="nav-link dropdown-indicator label-1" href="#User" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="User">
                      <div class="d-flex align-items-center">
                        <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><span data-feather="user-check"></span></span><span class="nav-link-text">User Management</span>
                      </div>
                    </a>
                    <div class="parent-wrapper label-1">
                      <ul class="nav collapse parent show" data-bs-parent="#navbarVerticalCollapse" id="User">
                        <li class="collapsed-nav-item-title d-none">User Management
                        </li>
                        {% if request.user.is_authenticated %} {% if perms.auth.view_group %} <li class="nav-item">
                          <a class="nav-link" href="{% url 'group' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">User Role</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li> {% else %} {% for group in request.user.groups.all %} {% if perms.group.view_group %} <li class="nav-item">
                          <a class="nav-link" href="{% url 'group' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">User Role</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li> {% endif %} {% endfor %} {% endif %} {% endif %}
                      </ul>
                    </div>
                  </div>
                </li>
  
                <li class="nav-item">
              
                  <div class="nav-item-wrapper">
                    <a class="nav-link dropdown-indicator label-1" href="#Report" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="Report">
                      <div class="d-flex align-items-center">
                        <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><span data-feather="file-text"></span></span><span class="nav-link-text">Report</span>
                      </div>
                    </a>
                    <div class="parent-wrapper label-1">
                      <ul class="nav collapse parent show" data-bs-parent="#navbarVerticalCollapse" id="Report">
                        <li class="collapsed-nav-item-title d-none">Report
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'generate_order_report' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">Order</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'generate_invoice_report' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">Invoice</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'generate_order_shipping_report' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">Shipping</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'generate_coupon_report' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">Coupon</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'product-adding' %}" data-bs-toggle="" aria-expanded="false">
                            <div class="d-flex align-items-center">
                              <span class="nav-link-text">Abandoned Cart</span>
                            </div>
                          </a>
                          <!-- more inner pages-->
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="navbar-vertical-footer">
            <button class="btn navbar-vertical-toggle border-0 fw-semi-bold w-100 white-space-nowrap d-flex align-items-center"><span class="uil uil-left-arrow-to-left fs-0"></span><span class="uil uil-arrow-from-right fs-0"></span><span class="navbar-vertical-footer-text ms-2">Collapsed View</span></button>
          </div>
        </nav>
        {% include 'Al-admin/base/nav.html' %}
        <div class="content">

            <div class="container mt-5">
                <h2>attribute & Attribute Values Update</h2>
            
                <form method="post" id="importAttributeForm" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="csv_file" class="form-label">Choose CSV File</label>
                        <input type="file" class="form-control" id="csv_file" name="csv_file" accept=".csv" required>
                    </div>
            
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
            
          </div>
         
        </div>
      </div>
      <script>
        function submitForm() {
            const form = document.getElementById('importAttributeForm');
            const formData = new FormData(form);

            axios.post('{% url "import-attribute-from-csv" %}', formData)
                .then(function (response) {
                    console.log('Axios Response:', response.data);
                    if (response.data.success) {
                      // Optionally, display a success message
                      alert(response.data.success);

                      // Redirect to the product-list page
                      window.location.href = '{% url "attribute-admin" %}';
                    } else {
                      alert(response.data.error);
                    }
                  })
                .catch(function (error) {
                    console.error('Axios Error:', error);
                    // Optionally, handle errors
                });
        }
    </script>
      
</main>

{% endblock %}