<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newsletter</title>
</head>
<body>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border:0;max-width:600px!important">
        <tbody><tr>
            <td valign="top" id="m_-5592038047835520031m_2751775557842009159templatePreheader" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
<tbody>

<tr>
<td valign="top" style="padding:9px">

<table align="left" width="564" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
        <tbody><tr>
            <td valign="top" style="padding-left:9px;padding-top:0;padding-bottom:0">

<a href="https://www.okkabeauty.com/" target="_blank">
                    <img alt="" src="https://ci3.googleusercontent.com/proxy/5qR4NwAadAh_XeXJ1xe3DbBVZRFr_FOSGVPQx-_yIklZ4UKU7Xc9atyPpQ6sMvm6WOvFB-TbuOLod1p8RWR4JsGtpywYF-oZsMzpm1Y3clHUKcgASsTTH4yWRtaRNkcksSnP9CRIry1qISTGHZ3ZUyxpUyzi3Pu0L_1GrA=s0-d-e1-ft#https://mcusercontent.com/19f25952484be39a44cc7708f/_compresseds/956fdf13-0c9c-a8c0-2bef-e2d0c755408f.jpg" width="564" style="max-width:4242px;padding-bottom:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="CToWUd a6T" tabindex="0"></a><div class="a6S" dir="ltr" style="opacity: 0.01; left: 598.8px; top: 1022px;"><div id=":2z" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>


            </td>
        </tr>
    </tbody></table>

</td>
</tr>

<tr>
<td valign="top" style="padding:9px">

<table align="left" width="273" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
        <tbody><tr>
            <td valign="top" style="padding-left:9px;padding-top:0;padding-bottom:0">


                    <img alt="" src="https://ci5.googleusercontent.com/proxy/84Myay19kWHygwmzZ0xhxCkyooBJ8yvHESE_VwBwG1oR9Nty7lLVIlRO4N02co0Jv2qtQ9SiRA2oETFMA86JXeznZm8TPW0qr3mK_mscbZ4EARpFN8UOXYQTI-hD6KqlvhSGRJnhL7mZ_NydCPgYgAxIqR2_5GBCvatMdw=s0-d-e1-ft#https://mcusercontent.com/19f25952484be39a44cc7708f/_compresseds/aa012cfb-a52c-9c2b-cca3-0c01f8392b0f.jpg" width="264" style="max-width:4648px;padding-bottom:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01;"><div id=":30" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>


            </td>
        </tr>
    </tbody></table>

<table align="right" width="273" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
        <tbody><tr>
            <td valign="top" style="padding-right:9px;padding-top:0;padding-bottom:0">


                    <img alt="" src="https://ci4.googleusercontent.com/proxy/RT2aQ2xWZvm2yWl3FWSChlcexD_CfsXRNDEsDM_ZdL-F4sizuGLlsoinztMZah0Q_cVMsR6trejmXGDF6dbdaq_vGoEps3CEaQN9X_0XImNGdmNfjNxwZQHboynxXhdA6R4KHuxT3Y8VMTND6UI-eN75uS6kq8osnV2Juw=s0-d-e1-ft#https://mcusercontent.com/19f25952484be39a44cc7708f/_compresseds/7fa54cda-1715-c89a-b392-4f0275e200df.jpg" width="264" style="max-width:4706px;padding-bottom:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01;"><div id=":5o" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>


            </td>
        </tr>
    </tbody></table>

</td>
</tr>

</tbody>
</table></td>
        </tr>
        <tr>
            <td valign="top" id="m_-5592038047835520031m_2751775557842009159templateHeader" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:0"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
<tbody>
<tr>
<td align="center" valign="top" style="padding:9px">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
<tbody><tr>
<td align="center" style="padding-left:9px;padding-right:9px">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
<tbody><tr>
<td align="center" valign="top" style="padding-top:9px;padding-right:9px;padding-left:9px">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
        <tbody><tr>
            <td align="center" valign="top">
                

                    


                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                            <tbody><tr>
                                <td valign="top" style="padding-right:10px;padding-bottom:9px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody><tr>
                                            <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                    <tbody><tr>

                                                            <td align="center" valign="middle" width="24">
                                                                <a href="https://www.okkabeauty.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.okkabeauty.com&amp;source=gmail&amp;ust=1640682561250000&amp;usg=AOvVaw0Nleo72qA1fQwvRmnibf38" mcafee_aps="true"><img src="https://ci5.googleusercontent.com/proxy/FR4I0VM10pxcUwbQ63iIF6cAOqyzEbM1yC4ru84XQ1cT1RbvvmtJzUt4RdH1WUB452ecisGFRwh877ppJp5BhUmQhUWIABs5JUY80JFlBF08huivKdmS6R-dPg=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" alt="Website" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                            </td>


                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>

                    

                    


                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                            <tbody><tr>
                                <td valign="top" style="padding-right:10px;padding-bottom:9px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody><tr>
                                            <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                    <tbody><tr>

                                                            <td align="center" valign="middle" width="24">
                                                                <a href="https://www.facebook.com/OKKABEAUTY" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/OKKABEAUTY&amp;source=gmail&amp;ust=1640682561250000&amp;usg=AOvVaw317f56z6bJyWzZ_dZqZ-Pb" mcafee_aps="true"><img src="https://ci5.googleusercontent.com/proxy/KLWDyxU_2JT5nOGTE6_NSp-hT37kpCU8B8HLih6GyBnhKJEvCDQsIeq4uLfJ7CQWsSCfpfcbCXVh74IrAuFYiXcU4R2sPN1CInMYwE7DpPIiYM9dGmBbl7FrtmeFZ6I=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" alt="Facebook" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                            </td>


                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>

                    

                    


                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                            <tbody><tr>
                                <td valign="top" style="padding-right:10px;padding-bottom:9px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody><tr>
                                            <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                    <tbody><tr>

                                                            <td align="center" valign="middle" width="24">
                                                                <a href="https://www.instagram.com/okkabeautyuae/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/okkabeautyuae/&amp;source=gmail&amp;ust=1640682561251000&amp;usg=AOvVaw1FGd03YJKHCcRUAXpki6l3" mcafee_aps="true"><img src="https://ci3.googleusercontent.com/proxy/Kxmv_VOWHxRbx9ha8NMR9nONZZkGxv2vyrUOlpQhi5_ieDBEPqRomk1Twd6kvqAcUM1ccGIxTgC8Rh1TvQcdKf-Ql5F87HSw4DKkcKIdL9Gz-WFmaHDWBrvzjPHt2CVn=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-instagram-48.png" alt="Instagram" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                            </td>


                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>

                    

                    


                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                            <tbody><tr>
                                <td valign="top" style="padding-right:10px;padding-bottom:9px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody><tr>
                                            <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                    <tbody><tr>

                                                            <td align="center" valign="middle" width="24">
                                                                <a href="https://www.pinterest.com/okkabeauty/_created/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.pinterest.com/okkabeauty/_created/&amp;source=gmail&amp;ust=1640682561251000&amp;usg=AOvVaw1e7Sk5R9JIKyQDXVX10gyu" mcafee_aps="true"><img src="https://ci6.googleusercontent.com/proxy/xRgxNQ23_eU7uvJfiwEws4_55A2b3JfRIX4k7k_uUjUVLW8pSFTNGNazcr6a8PA3KX3lYeG078xZd0JeYvqhaXS670lq5SmLYSIntkbLlYMNqGbptxtXwN3KWTVihrUi=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-pinterest-48.png" alt="Pinterest" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                            </td>


                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>

                    

                    


                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                            <tbody><tr>
                                <td valign="top" style="padding-right:0;padding-bottom:9px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody><tr>
                                            <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                    <tbody><tr>

                                                            <td align="center" valign="middle" width="24">
                                                                <a href="https://www.youtube.com/channel/UCfD4qrSu9JSoO9WYPLharSA" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/channel/UCfD4qrSu9JSoO9WYPLharSA&amp;source=gmail&amp;ust=1640682561251000&amp;usg=AOvVaw0E0KDq64OfXGbvJRaHF412" mcafee_aps="true"><img src="https://ci3.googleusercontent.com/proxy/UZmsqbR0YicV2Dut8L3zgzEo4jupJEoo_M2eyGVoTUqJ8TC_2hipkr2l-JV-uTKoVQAGjTEuVd_3mFGuOKWqoj2ji0OjjHB1ShyYPzqUidP9s75s194CW40mMOmhPw=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-youtube-48.png" alt="YouTube" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                            </td>


                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>

                    

                
            </td>
        </tr>
    </tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>

</td>
</tr>
</tbody>
</table></td>
        </tr>
        <tr>
            <td valign="top" id="m_-5592038047835520031m_2751775557842009159templateBody" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
<tbody>
<tr>
<td style="min-width:100%;padding:18px">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #eaeaea;border-collapse:collapse">
<tbody><tr>
    <td>
        <span></span>
    </td>
</tr>
</tbody></table>

</td>
</tr>
</tbody>
</table></td>
        </tr>
        <tr>
            <td valign="top" id="m_-5592038047835520031m_2751775557842009159templateFooter" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
<tbody>
<tr>
<td valign="top" style="padding-top:9px">



<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%">
<tbody><tr>

    <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">

        <em>Offer may not be combined with any other discounts. Not valid on previous purchases. Final sale.</em>
    </td>
</tr>
</tbody></table>



</td>
</tr>
</tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
<tbody>
<tr>
<td style="min-width:100%;padding:10px 18px 25px">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #eeeeee;border-collapse:collapse">
<tbody><tr>
    <td>
        <span></span>
    </td>
</tr>
</tbody></table>

</td>
</tr>
</tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
<tbody>
<tr>
<td valign="top" style="padding-top:9px">



<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%">
<tbody><tr>

    <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">

        <em>Copyright © 2021 OKKA BEAUTY, All rights reserved.</em><br>
You are receiving this email because you opted in via our website.<br>

    </td>
</tr>
</tbody></table>



</td>
</tr>
</tbody>
</table></td>
        </tr>
    </tbody></table>
</body>
</html>