<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
</head>
<body>
    <div style="margin: 0; padding: 0; font-family: Arial, sans-serif; line-height: 1.8em" class="zm_4050088703667427340_parse_8507672374510361034">
  
 
        <table class="x_1121865152wrapper" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="line-height: 1.8em; font-family: Arial, sans-serif; font-size: 14px; color: rgb(222, 222, 222) !important; background-color: rgb(65, 62, 59) !important; width: 100%; margin: 0px; padding: 50px 0px;" data-ogsb="rgb(220, 216, 212)" data-ogsc="rgb(35, 35, 35)">
          <tbody data-ogsc="" style="color: rgb(222, 222, 222) !important;"><tr style="font-family: Arial, sans-serif; line-height: 1.8em; color: rgb(222, 222, 222) !important;" data-ogsc="">
          <td class="x_1121865152wrapper-td" align="center" valign="top" style="font-family: Arial, sans-serif; line-height: 1.8em; padding: 0px 20px 20px; color: rgb(222, 222, 222) !important;" data-ogsc="">
          
          <table class="x_1121865152main-body" border="0" cellpadding="0" cellspacing="0" style="line-height: 1.8em; color: rgb(222, 222, 222) !important; font-family: Arial, sans-serif; box-shadow: rgba(0, 0, 0, 0.03) 0px 3px 9px; overflow: hidden; background-color: rgb(38, 38, 38) !important; border: 1px solid rgb(198, 194, 191); width: 600px; border-radius: 1px;" data-ogsb="rgb(255, 255, 255)" data-ogsc="rgb(35, 35, 35)">
          <tbody data-ogsc="" style="color: rgb(222, 222, 222) !important;"><tr style="font-family: Arial, sans-serif; line-height: 1.8em; color: rgb(222, 222, 222) !important;" data-ogsc="">
          <td align="center" valign="top" style="font-family: Arial, sans-serif; line-height: 1.8em; color: rgb(222, 222, 222) !important;" data-ogsc="">
          
          
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: Arial, sans-serif; line-height: 1.8em; color: rgb(222, 222, 222) !important;" data-ogsc="rgb(35, 35, 35)">
          <tbody data-ogsc="" style="color: rgb(222, 222, 222) !important;"><tr style="font-family: Arial, sans-serif; line-height: 1.8em; color: rgb(222, 222, 222) !important;" data-ogsc="">
          <td class="x_1121865152template_header" style="line-height: 1.8em; font-family: Arial; background-color: rgb(108, 72, 70) !important; color: rgb(186, 163, 162) !important; border-bottom: 1px solid rgb(213, 171, 168); font-weight: bold; vertical-align: middle; text-align: center; padding: 16px 18px; border-top-left-radius: 2px; border-top-right-radius: 2px;" data-ogsb="rgb(224, 180, 177)" data-ogsc="rgb(101, 81, 80)">
          <a href="https://www.okkabeauty.com" style="font-weight: normal; text-decoration: none; font-size: 13px; margin: 0px 0px 0px 12px; color: rgb(186, 163, 162) !important;" target="_blank" data-ogsc="rgb(101, 81, 80)">
          <img id="1717467113249100001_imgsrc_url_0" data-ogsc="" src="https://www.okkabeauty.com/wp-content/uploads/2020/10/logo.png" style="color: rgb(186, 163, 162) !important;">
         </a>
          
          </td>
          </tr>
          </tbody></table>
          
         
        
          </td>
          </tr>
          
          
          
          
          <tr style="font-family: Arial, sans-serif; line-height: 1.8em; color: rgb(222, 222, 222) !important;" data-ogsc="">
          <td align="left" valign="top" style="font-family: Arial, sans-serif; line-height: 1.8em; color: rgb(222, 222, 222) !important;" data-ogsc="">
          
          
          
          <table border="0" cellpadding="0" cellspacing="0" width="100%" id="x_1121865152template_body" style="font-family: Arial, sans-serif; line-height: 1.8em; color: rgb(222, 222, 222) !important;" data-ogsc="rgb(35, 35, 35)">
          <tbody data-ogsc="" style="color: rgb(222, 222, 222) !important;"><tr style="font-family: Arial, sans-serif; line-height: 1.8em; color: rgb(222, 222, 222) !important;" data-ogsc="">
          <td valign="top" class="x_1121865152body_content" style="line-height: 1.8em; font-family: Arial, sans-serif; color: rgb(222, 222, 222) !important; background-color: rgb(38, 38, 38) !important;" data-ogsb="rgb(255, 255, 255)" data-ogsc="rgb(35, 35, 35)">
          
          
          
          <table border="0" cellspacing="0" width="100%" style="font-family: Arial, sans-serif; line-height: 1.8em; color: rgb(222, 222, 222) !important;" data-ogsc="rgb(35, 35, 35)">
          <tbody data-ogsc="" style="color: rgb(222, 222, 222) !important;"><tr style="font-family: Arial, sans-serif; line-height: 1.8em; color: rgb(222, 222, 222) !important;" data-ogsc="">
          <td valign="top" class="x_1121865152body_content_inner" style="line-height: 1.8em; font-family: Arial; text-align: left; padding: 45px 55px; color: rgb(222, 222, 222) !important;" data-ogsc="">
         
         <div class="x_1121865152top_heading" style="font-family: Arial, sans-serif; font-size: 20px; text-align: left; font-weight: bold; color: rgb(222, 222, 222) !important;" data-ogsc="">
             <p style="margin: 0.6em 0px; color: rgb(222, 222, 222) !important;" data-ogsc="">Password Reset</p> </div>
         
         <p style="margin: 0.6em 0px; color: rgb(222, 222, 222) !important;" data-ogsc="">Someone requested that the password be reset for the
        following account:<br> <span data-ogsc="" style="color: rgb(222, 222, 222) !important;">yoga</span></p> <p style="margin: 0.6em 0px; color: rgb(222, 222, 222) !important;" data-ogsc="">If
        this was a mistake, just ignore this email and nothing will
        happen.</p> <p style="margin: 0.6em 0px; color: rgb(222, 222, 222) !important;" data-ogsc="">To reset your
        password, visit the following address:<br> <span class="x_1121865152ec_shortcode x_1121865152ec_reset_password_link" data-ogsc="" style="color: rgb(222, 222, 222) !important;"><a href="{{reset_link}}" style="color: rgb(222, 222, 222) !important; text-decoration: underline;" target="_blank" data-ogsc="rgb(35, 35, 35)">Click here to reset your password</a></span></p>
        
         
         
          </td>
          </tr>
          </tbody></table>
          
         
        </td>
          </tr>
          </tbody></table>
          
          </td>
         
        </tr>
          
          <tr style="font-family: Arial, sans-serif; line-height: 1.8em; color: rgb(222, 222, 222) !important;" data-ogsc="">
          <td align="center" valign="top" style="font-family: Arial, sans-serif; line-height: 1.8em; color: rgb(222, 222, 222) !important;" data-ogsc="">
          
          
          <table cellpadding="0" cellspacing="0" border="0" width="100%" style="font-family: Arial, sans-serif; line-height: 1.8em; color: rgb(222, 222, 222) !important;" data-ogsc="rgb(35, 35, 35)">
         
        <tbody data-ogsc="" style="color: rgb(222, 222, 222) !important;"><tr style="font-family: Arial, sans-serif; line-height: 1.8em; color: rgb(222, 222, 222) !important;" data-ogsc="">
          <td width="100%" align="center" class="x_1121865152footer_container" style="line-height: 1.8em; font-family: Arial, sans-serif; font-size: 12px; text-align: center; padding: 12px 22.5px 16px; border-top: 1px solid rgb(237, 237, 237); color: rgb(155, 155, 155) !important; background-color: rgb(41, 41, 41) !important;" data-ogsb="rgb(250, 250, 250)" data-ogsc="rgb(100, 100, 100)">
          
         
        <table align="center" cellpadding="0" cellspacing="0" border="0" style="font-family: Arial, sans-serif; line-height: 1.8em; color: rgb(222, 222, 222) !important;" data-ogsc="rgb(35, 35, 35)">
          <tbody data-ogsc="" style="color: rgb(222, 222, 222) !important;"><tr style="font-family: Arial, sans-serif; line-height: 1.8em; color: rgb(222, 222, 222) !important;" data-ogsc="">
          <td align="center" style="line-height: 1.8em; font-family: Arial, sans-serif; font-size: 12px; color: rgb(155, 155, 155) !important;" data-ogsc="rgb(100, 100, 100)">
          
          <p align="center" style="margin: 0.6em 0px; text-align: center; color: rgb(155, 155, 155) !important;" data-ogsc="">Click the link below to get more information on
        taking care of your skin and hair.</p> <p align="center" style="margin: 0.6em 0px; text-align: center; color: rgb(155, 155, 155) !important;" data-ogsc=""><a href="https://www.okkabeauty.com/blog/" style="color: rgb(222, 222, 222) !important; text-decoration: underline;" target="_blank" data-ogsc="rgb(35, 35, 35)">https://www.okkabeauty.com/blog/</a></p> <p align="center" style="margin: 0.6em 0px; text-align: center; color: rgb(155, 155, 155) !important;" data-ogsc="">&nbsp;If you like us share with your friends if you
        don’t please share with us.</p> <p align="center" style="margin: 0.6em 0px; text-align: center; color: rgb(155, 155, 155) !important;" data-ogsc="">&nbsp;For further
        assistance, feel free to contact us at <a href="mailto:cs@okkabeauty.com" style="color: rgb(222, 222, 222) !important; text-decoration: underline;" target="_blank" data-ogsc="rgb(35, 35, 35)">cs@okkabeauty.com</a> or call +971 4328 2338<br>
        OKKA BEAUTY TRADING CO. LLC<br> Office 12, 17th Floor, The
        Bayswater Tower, Business Bay, United Arab Emirates</p>  
         
        
          </td>
          </tr>
          </tbody></table>
          
          </td>
          </tr>
          </tbody></table>
         
        
          
          </td>
          </tr>
          
          </tbody></table>
         
        </td>
          </tr>
          </tbody></table>
          </div>
</body>
</html>